{% extends 'base.html.twig' %}

{% block title %}BIENVENUE  SUR HYPNOS{% endblock %}

{% block body %}

    <main>
        <article>
            <section class="row col-lg-12 col-md-6 text-center">
                <div class="col-lg-6 p-5">
                    <h3 class="mt-5 mb-2">Hypnos Hotels</h3>
                    <h4 class="trait-noir">Découvrez nos Séjours !</h4>
                      <p class="mt-4">Groupe familial pionnier, Hypnos est précurseur du modèle de "Resort à la française". Le Groupe n’a eu de cesse de s’implanter sur le long terme dans des destinations d’exception, et de mettre son expérience et son excellence opérationnelle au service d’une clientèle nationale et internationale exigeante. Depuis plus de cent ans, notre Groupe a su évoluer, se rénover, se moderniser et se développer pour offrir à sa clientèle une offre toujours plus complète et prestigieuse, dans la continuité de l’Esprit Hypnos. Avec ses hôtels de luxe à taille humaine, ses casinos prestigieux transformés en véritables complexes de loisirs, ses spas innovants, véritables cocons de Bien-être, notre Groupe continue de vous accueillir sous le signe de la convivialité, de la modernité et de l’amour du client.</p>
                    <button class="btn bg-dark text-white w-50">Nos Hôtels</button>
                </div>
                <div class="col-lg-6 p-5">
                    <img src="{{ asset("img/img-pres.png") }}" alt="imgpresentation">
                </div>
            </section>



            <section class=" row col-lg-12 col-md-6 text-center">
                <div class="col-lg-6 p-5">
                    <img height="85%" src="{{ asset("img/room-pool.webp") }}" alt="roompool">
                   </div>
                <div class="pool private-pool d-flex flex-column justify-content-center col-lg-6 p-5 align-items-center">
                    <h4 class="">Suite Piscine Privée</h4>
                    <p class="pt-3">Un piano 1902, une terrasse aménagée de 140 m², une salle de bain grandiose.
                        Deux dressings et un couchage pour 4 personnes, la Suite Piscine Privée, 75m², impose l’exception.</p>
                    <button class="btn bg-dark text-white w-50">En savoir +</button>
                </div>
            </section>


            <section class=" row col-lg-12 col-md-6 text-center">
                <div class="seaview  d-flex flex-column justify-content-center  col-lg-6 p-5 align-items-center">
                    <h4>Suite Vue sur Mer</h4>
                    <p class="pt-3">Les Suites Vue sur Mer voient leurs 40 m² doublés par une superbe
                        terrasse de même dimension. Bleu de l’océan et vert des pins à l’extérieur. Couleur sable à l’intérieur,
                        chambres cosy, plafonds mansardés et salon séparé pour un confort absolu. Leurs fauteuils convertibles,
                        leur salle de bain avec douche et baignoire les rendent particulièrement adaptées aux familles.</p>
                    <button class="btn bg-dark text-white w-50">En savoir +</button>
                </div>
                <div class="col-lg-6 p-5">
                    <img height="85%" src="{{ asset("img/room-seaview.webp") }}" alt="roomseaview">
                </div>
            </section>
            <section class="row col-lg-12 col-md-4 mt-5 text-center justify-content-center ">
            <div class="col-lg-3">
                <img class="pres-img" height="70%" src="{{ asset("img/image1.webp") }}" alt="image1">
                </div>
            <div class="col-lg-3">
                <img class="pres-img"  height="70%" src="{{ asset("img/image2.webp") }}" alt="image2">
                </div>
            <div class="col-lg-3">
                <img class="pres-img"  height="70%" src="{{ asset("img/image3.webp") }}" alt="image3">
                </div>
            <div class="col-lg-3">
                <img class="pres-img"  height="70%" src="{{ asset("img/image4.webp") }}" alt="image4">
               </div>
            </section>
            <section class=" row col-lg-12 col-md-4 mt-5 text-center justify-content-center ">
                <h5 class="pb-2 trait-noir w-25">Premium Services +</h5>
                <h4 class="p-3 mb-5 ">Le luxe en illimité</h4>
                <div class="col-lg-3">
                    <img height="10%" src="{{ asset("img/service-kingbed.svg") }}" alt="">
                    <h5 class="">King-Size Bed</h5>
                    <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
                <div class="col-lg-3">
                    <img height="10%" src="{{ asset("img/service-pool.svg") }}" alt="">
                    <h5 class="">Pool & Fitness Room</h5>
                    <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
                <div class="col-lg-3">
                    <img height="10%" src="{{ asset("img/service-food.svg") }}" alt="">
                    <h5 class="">5* Restaurant</h5>
                    <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
                <div class="align-items-center mb-5">
                <button class="btn bg-dark text-white w-25">Contactez-nous</button>
                </div>
            </section>
        </article>



    </main>

{% endblock %}
