{% extends 'base.html.twig' %}

{% block title %}Réservation de votre Séjour{% endblock %}

{% block body %}
    <main>
        <article>
            <section>
                <h4 class="mb-3 mt-2 h3 text-center mt-4 ">Réservation</h4>
                <hr>
            </section>
            <section class="seaview col-lg-5 p-5 mt-4 mb-4 m-auto">
                <h5 class="mb-2">Sélectionnez votre séjour :</h5>
                {{ form_start(reservationForm, {"attr":{"id": "idReservation"}}) }}
                {{ form_row(reservationForm.start_date) }}
                {{ form_row(reservationForm.end_date) }}
                {{ form_row(reservationForm.hotels) }}
                {{ form_row(reservationForm.hotelRooms) }}
                <br>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn bg-dark text-white w-15 ">Rechercher</button>
                </div>

                {{ form_end(reservationForm) }}
            </section>
            <section  id="result">
                    {% if data is not null %}
                        {% include 'reservations/index2.html.twig'%}
                    {% endif %}

                    {% if dt == true %}
                        <p class="seaview col-lg-5 p-5 mt-4 mb-4 m-auto">Désolé, les dates sélectionnées ne sont pas disponibles pour cette suite.</p>
                    {% endif %}
            </section>
        </article>
    </main>


{% endblock %}

{% block body_javascript %}
    <script type="module" src="{{ asset('assets/datepicker/datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/reservation-hotel-room.js') }}"></script>
{% endblock %}